<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853069479534-n9f6gkbi2155krdqb9k2qfb6na3gnkhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853069479534-n9f6gkbi2155krdqb9k2qfb6na3gnkhm</string>
	<key>API_KEY</key>
	<string>AIzaSyAefPak9XqmsW68kW3UUM8SqLw9IDrLbTE</string>
	<key>GCM_SENDER_ID</key>
	<string>853069479534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactManager</string>
	<key>PROJECT_ID</key>
	<string>contact-manager-1d6a8</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-manager-1d6a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853069479534:ios:53b85eb656b8f67cc8b07f</string>
</dict>
</plist>